# > App
APP_NAME=RP1-BackEnd

# > Database
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/rp1project
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=supersecretpassword
SPRING_DATASOURCE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

# > Server
PORT=8080
