<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>
                Action
                <button (click)="dodaj()">+</button>
            </th>
        </tr>
    </thead>
    <tbody>
        @for(entity of entities(); track entity.id) {
        <tr>
            <td>{{entity.id}}</td>
            <td>{{entity.name}}</td>
            <td>{{entity.price}}</td>
            <td>
                @if(entity.id != null) {
                <button (click)="detalji(entity.id)">D</button>
                <button (click)="izmeni(entity.id)">E</button>
                <button (click)="ukloni(entity.id)">X</button>
                }
            </td>
        </tr>
        }
    </tbody>
</table>